footer {
    background-color: #121212;
    color: #9CA3AF;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 50px;

    color: #9CA3AF;


}

.footer-social-media {
    display: flex;
    justify-content: space-around;
    gap: 20px;

}

.footer-social-media .social-media {
    color: inherit;
}