.reserve-section {
    background-color: rgba(18, 18, 18, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}


.reserve-header {
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;

    padding-top: 120px
}

.reserve-section-title {
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 15px;

    text-align: center;


}

.reserve-section-description {
    color: rgba(255, 255, 255, 0.7);
}

.reserve-box {
    margin-top: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px;
    background: #F8F5F2;
    border-radius: 20px;
    min-width: 574px;
    height: auto;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;

}

.form-group-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;

}

.form {
    display: flex;
    text-align: left;
    justify-content: space-around;
    gap: 40px;
}

.form-group {

    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 8px;
}

.form-label {
    margin-left: 5px;
    font-size: 0.625rem;
    font-weight: 700;
    color: #9CA3AF;
    text-transform: uppercase;
    letter-spacing: 0.1em;

}

.form-input {
    border: 0.5px solid transparent;
    box-sizing: border-box;

    outline: none;
    color: #ffffff;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 16px;
    margin: 2px;
    font-size: 1rem;
    min-height: 23px;
    min-width: 243px;


}

.form-input:hover {
    transition: all 0.3s ease;
    border: 0.5px solid #C5A059;
    transform: translateY(0);
}

.reserve-button {
    background-color: #C5A059;
    min-height: 23px;
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 0.1em;
    margin: 5px;
}

.reserve-button:hover {
    transition: 0.3 ease;
    box-shadow: 0 10px 10px -5px #ccb68a;
    transform: translateY(-0.5px);
}

@media screen and (max-width: 800px) {
    .form {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: space-around;
        gap: 20px;
    }

    .reserve-box {


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 32px;
        background: #F8F5F2;
        border-radius: 20px;
        width: 80%;
        margin: 50px;
        height: auto;
        box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);

        box-sizing: border-box;
    }

}